.column-header {
  cursor: pointer;
  flex: 1;
  padding: 0.5em 0;
}

.medal {
  margin: 5px auto 0;
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
}

.selected::before {
  content: "";
  display: block;
  width: 80%;
  height: 3px;
  margin: 0 auto;
  background-color: gray;
}

.gold {
  background-color: #ffcf40;
}

.silver {
  background-color: #c0c0c0;
}

.bronze {
  background-color: #cc6633;
}

.total-header {
  text-align: center;
  font-size: 1.4em;
  text-transform: uppercase;
  color: #000;
}
