.medal-widget-grid-headers {
  margin-top: 1.5em;
  border-bottom: 4px solid #404040;
  display: flex;
  align-items: center;
}

.medal-widget-grid-headers:nth-last-child(-n + 1) {
  text-align: "center";
  color: red;
}
