.column-header {
  cursor: pointer;
  flex: 1;
}

.medal::after {
  content: "\25CF";
  font-size: 1.5em;
}

.total-col-header {
  color: darkslategray;
  font-size: 1.2em;
}

.selected::before {
  content: "";
  display: block;
  width: 100%;
  margin-top: -7px;
  height: 2px;
  background-color: #9f9d99;
}
