.medal-widget-main {
  width: 40%;
  top: 4em;
  position: relative;
  margin: 0 auto;
}

.medal-widget-main h1 {
  font-weight: 400;
}

.medal-widget-stats {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5em;
}

.medal-widget-col-headers {
  display: flex;
}
